/*** Content ***/

.content-section {
    display: flex;
    flex: 1;
    padding: 0;
    background: white;
}

.content-section:first-child {
    border-right: 1px solid var(--bg-gray);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
}

.content-header-wrapper {
    display: flex;
}

.content-header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.content-header-inner {
    margin-left: 15px;
}

.content-name {
    margin: 0;
}

.content-img {
    width: 80px;
    height: 60px;
    border-radius: var(--sm-radius);
}

.content-share-btn {
    height: 30px;
    width: 30px;
}

.content-share-btn.btn.rounded svg {
    height: 16px;
    width: 16px;
}

.content-subtitle {
    display: flex;
    align-items: center;
    color: var(--orange);
    font-size: 14px;
}

.content-stars {
    display: flex;
    align-items: center;
    position: relative;
    top: -3px;
}

.content-stars::after {
    content: '-';
    font-size: 16px;
    margin: 3px 7px 0;
}

.vue-star-rating-star {
    height: 14px;
    width: 14px;
    margin-top: -2px;
}

.content-description {
    margin: 15px 0 0;
}

.content-show-facts-btn {
    color: var(--green);
    background: none;
    border: 0;
    text-align: left;
    font-size: 14px;
    text-decoration: underline;
    margin: 8px 0 30px;
    padding: 0;
}

.content-facts {
    margin: 0 0 25px;
    padding: 25px;
    background: var(--bg-gray);
    border-radius: var(--sm-radius);
}

.content-facts-header {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
}

.content-facts-header-title {
    flex: 1;
    margin: 0 0 15px;
}

.content-add-fact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 0.05rem;
}

.content-add-fact-btn svg {
    margin-right: 8px;
    height: 12px;
    width: 12px;
}

.content-facts-list {
    padding: 0;
}

.content-facts-list-item {
    display: flex;
}

.content-facts-list-item::before {
    content: '•';
    font-size: 13px;
    margin: 5px 5px 0 0;
}

.content-facts-list-item:not(:last-child) {
    margin: 0 0 15px;
}

.content-facts-list-item-text {
    display: flex;
    flex: 1;
    margin: 0 20px 0 0;
    font-size: 13px;
    line-height: 1.6;
}

.content-facts-list-item-btns {
    display: flex;
    flex-direction: column;
}

.content-facts-list-item-btn {
    border: 0;
    background: transparent;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: var(--transition);
}

.content-facts-list-item-btn:hover svg path {
    fill: #342c24;
}

.content-actions-btns {
    display: flex;
    align-items: center;
    margin: 0 0 50px;
}

.content-actions-btn {
    width: 100px;
    height: 100px;
}

.content-actions-btn.btn.white:hover {
    background: white;
}

.content-actions-btn .content-actions-btn-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    transition: var(--transition);
}

.content-actions-btn.like.btn.rounded svg {
    height: 35px;
    width: 35px;
}

.content-actions-btn.like svg path {
    fill: var(--green);
}

.content-actions-btn.like .content-actions-btn-inner {
    background: var(--green-bg);
}

.content-actions-btn.like:hover .content-actions-btn-inner {
    background: var(--green-bg-hover);
}

.content-actions-btn.dislike svg path {
    fill: var(--red);
}

.content-actions-btn.dislike .content-actions-btn-inner {
    background: var(--red-bg);
}

.content-actions-btn.dislike:hover .content-actions-btn-inner {
    background: var(--red-bg-hover);
}

.content-actions-btn-inner {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content-actions-already-visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: 600;
}

.content-actions-already-visited input {
    margin: 0 0 5px;
}

.content-actions-already-visited label {
    margin: 0;
    font-size: 14px;
}

.content-actions-already-visited input,
.content-actions-already-visited label {
    cursor: pointer;
}

@media only screen and (max-width: 639px) {
    .content-facts.hidden {
        display: none;
    }
}

@media only screen and (min-width: 640px) {
    .content {
        padding: 35px 65px 50px;
    }

    .content-name {
        margin: 0 0 5px;
    }

    .content-header {
        flex-direction: row;
    }

    .content-header-inner {
        margin-left: 0;
    }

    .content-img {
        display: none;
    }

    .content-actions-btns {
        width: 380px;
    }

    .vue-star-rating-star {
        height: auto;
        width: auto;
    }

    .content-stars::after {
        margin: 3px 10px 0;
    }

    .content-share-btn {
        height: 36px;
        width: 36px;
    }

    .content-share-btn.btn.rounded svg {
        height: 20px;
        width: 20px;
    }

    .content-facts {
        display: block;
        margin: 40px 0 25px;
    }

    .content-facts-header {
        flex-direction: row;
        align-items: center;
        margin: 0 0 30px;
    }

    .content-facts-header-title {
        margin: 0;
    }

    .content-add-fact-btn {
        justify-content: flex-start;
    }

    .content-facts-list-item:not(:last-child) {
        margin: 0 0 25px;
    }

    .content-facts-list-item-btns {
        flex-direction: row;
    }

    .content-facts-list-item-btn {
        height: auto;
    }

    .content-facts-list-item-text {
        margin: 0 50px 0 0;
    }

    .content-actions-btns {
        margin: 0 auto;
        padding: 0 20px;
        height: 105px;
        background: white;
        box-shadow: var(--shadow-xlarge);
        border-radius: 60px;
    }

    .content-actions-btn {
        width: 70px;
        height: 70px;
    }
    
    .content-actions-btn .content-actions-btn-inner {
        width: 50px;
        height: 50px;
    }
    
    .content-actions-btn.like.btn.rounded svg {
        height: 28px;
        width: 28px;
    }

    .content-actions-already-visited {
        flex-direction: row;
    }

    .content-actions-already-visited input {
        margin: 0 8px 0 0;
    }
    
    .content-actions-already-visited label {
        font-size: 16px;
    }

    .content-show-facts-btn {
        display: none;
    }
}